<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab1</title>
    </head>
    <body>
        <h1>@ViewBag.StraightTime</h1>
        <h1>@ViewBag.ParabolaTime</h1>
    </body>
</html>
